@import url("https://fonts.googleapis.com/css2?family=Lekton&family=Share+Tech+Mono&display=swap");

.footer2 {
  margin: 4px;
  position: fixed;
  bottom: 0;
  right: 87px;
}

.devLogf {
  font-size: 40px;
  font-family: "Share Tech", sans-serif;
  color: #39ffe8;
  text-decoration: none;
  background-color: transparent;
}

@media screen and (max-width: 480px) {
  .footer2 {
    justify-content: center;
    align-items: center;
    margin: 4px;
    position: absolute;
    bottom: 0;
    right: 79px;
    display: none;
  }
}
