/* Setup main CSS */
/* Or divide into componenents?? */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Shadows+Into+Light&display=swap");

* {
  margin: 0;
  padding: 0;
}

.loginDiv {
  height: 100vh;
  width: 100%;
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.signUpForm {
  position: absolute;
  width: 500px;
  height: 400px;
  top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(54, 71, 90, 0.9);
  border: 1px solid #39ffe8; */
}

.devLog {
  font-size: 100px;
  font-family: "Shadows Into Light", cursive;
  color: #39ffe8;
  letter-spacing: 2px;
}

input {
  display: block;
  margin: 10px;
  height: 30px;
  width: 200px;
  border: 1px solid #39ffe8;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}

input::placeholder {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  color: white;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginButton {
  font-family: "Shadows Into Light", sans-serif;
  font-size: 20px;
  border: none;
  background-color: #39ffe8;
  color: black;
  padding: 2px;
  margin-top: 10px;
  width: 100px;
}

.signUpButton {
  font-family: "Quicksand", sans-serif;
  background-color: transparent;
  border: none;
  color: #39ffe8;
  margin-top: 5px;
}

.overlay {
  position: absolute;
  background: radial-gradient(
    circle farthest-side,
    rgb(0, 0, 0, 100%),
    transparent
  );
  width: 100%;
  height: 100%;
}

button:hover {
  cursor: pointer;
}

span {
  margin: 5px;
}
