@import url("https://fonts.googleapis.com/css2?family=Lekton&family=Share+Tech+Mono&display=swap");

.singlePostPage {
  background-color: #0c100e;
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Share Tech", sans-serif;
  color: #39ffe8;
}

.singlePostWrapper {
  margin-top: -30px;
  margin-bottom: 5px;
  width: 50%;
  border: 2px solid #39ffe8;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.singlePostImageWrapper {
  object-fit: cover;
}

.singlePostImage {
  margin: 20px;
  width: 500px;
}

.rightSingle {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.singleTitle {
  text-decoration: underline;
}

.backFeed{
  color: #0c100e;
  padding: 17px;
  width: 270px;
  border-radius: 27px;
  margin: 10px;
}