@import url("https://fonts.googleapis.com/css2?family=Lekton&family=Share+Tech+Mono&display=swap");

.singlePostPage {
  background-color: #161616;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; */
  font-family: "Share Tech", sans-serif;
  color: hsl(173, 100%, 61%);
}

.singlePostHeader {
  padding-top: 5%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.singlePostTitle {
  font-size: 5vw;
}
.singlePostDate {
  font-size: 4vw;
}
.singlePostBodyDiv {
  display: flex;
  justify-content: center;
}
.singlePostImageDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.singlePostImage {
  border: 1px solid hsl(173, 100%, 61%);
  width: 87vw;
}
.singlePostAuthor {
  font-size: 4vw;
  text-decoration: underline;
  color: hsl(173, 100%, 61%) !important;
}

.singlePostAuthor a {
  color: #7271f8 !important;
}

.singlePostIcons {
  display: flex;
  justify-content: space-between;
}
.singlePostBody {
  font-size: 4vw;
  padding-left: 10%;
  padding-right: 10%;
}

.singlePageButtonDiv {
  display: flex;
  justify-content: center;
}

.singlePostCommentIcon:hover {
  cursor: pointer;
}

.singlePostForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.singlePostSubmit {
  display: flex;
  justify-content: center;
}

.commentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backFeed {
  color: #0c100e;
  padding: 17px;
  width: 270px;
  border-radius: 27px;
  margin: 10px;
}

.commentHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.commentText {
  color: #7271f8;
}

.commentContainer {
  margin-top: 20px;
}

.singlePostCommentIcon {
  display: flex;
  align-items: center;
}

.purps {
  color: #7271f8;
}

.commentSingle {
  margin-top: 20px;
  width: 30%;
  border: 1px solid;
}

.commentHeader p {
  color: white;
}

/* Tablet styles */
@media only screen and (min-width: 768px) {
  .singlePostImage {
    border: 1px solid hsl(173, 100%, 61%);
    width: 50vw;
  }
  .singlePostTitle {
    font-size: 24px;
  }
  .singlePostDate {
    font-size: 22px;
  }
  .singlePostHeader {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .singlePostAuthor {
    font-size: 20px;
    text-decoration: underline;
    color: hsl(173, 100%, 61%) !important;
  }
  .singlePostBody {
    font-size: 20px;
    padding-left: 20%;
    padding-right: 20%;
  }
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  .singlePostImage {
    border: 1px solid hsl(173, 100%, 61%);
    width: 30vw;
  }
  .singlePostTitle {
    font-size: 24px;
  }
  .singlePostDate {
    font-size: 22px;
  }
  .singlePostHeader {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .singlePostAuthor {
    font-size: 18px;
    text-decoration: underline;
    color: hsl(173, 100%, 61%) !important;
  }
  .singlePostBody {
    font-size: 16px;
    padding-left: 20%;
    padding-right: 20%;
  }
}
