@import url("https://fonts.googleapis.com/css2?family=Lekton&family=Share+Tech+Mono&display=swap");

.profilePage {
  background-image: url("../../assets/background2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0c100e;
  height: 100vh;
  padding: 50px;
}

.profileContainer {
  width: 1160px;
  height: 250px;
  margin: 0 auto;
  display: flex;
}

.largeAvatar {
  height: 200px;
  border: 2px solid #39ffe8;
  border-radius: 100px;
}

.leftProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.editProfile {
  color: white;
  margin-top: 15px;
  text-decoration: underline;
  font-family: "Lekton", sans-serif;
  width: 135px;
  background-color: transparent;
}

.rightProfile {
  width: 70%;
  height: 100%;
}

.topProfile {
  width: 80%;
  height: 75px;
  margin: 0 auto;
}

.topButtonContainer {
  display: flex;
  justify-content: space-between;
}

.lookLikeButton {
  width: 170px;
  height: 36px;
  background: #202b37;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 2px solid rgba(57, 255, 232, 0.8);
  font-family: "Share Tech", sans-serif;
  font-size: 20px;
  padding: 2px;
  margin-top: 5px;
  margin-right: 16px;
  text-align: center;
}

.githubButton {
  width: 170px;
  height: 44px;
  background: #202b37;
  color: white;
  border: 2px solid rgba(57, 255, 232, 0.8);
  font-family: "Share Tech", sans-serif;
  font-size: 20px;
  padding: 2px;
  margin-top: 5px;
  text-align: center;
}

.bioContainer {
  border: 2px solid rgba(57, 255, 232, 0.8);
  width: 625px;
  height: auto;
  margin-top: 23px;
  color: white;
  font-family: "Share Tech", sans-serif;
  font-size: 20px;
  padding: 10px;
  background: #202b37;
}

.bioDescription {
  margin-left: 10px;
}

.postContainer {
  margin-top: 50px;
  width: 967px;
  display: flex;
  flex-direction: column;
}

.postData {
  width: 100%;
  display: flex;
}

.rightPost {
  position: relative;
  font-family: "Share Tech", sans-serif;
  color: white;
}

.bottomRight {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
}

.likes {
  margin-left: 5px;
}
