@import url("https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&family=Share+Tech&display=swap");

.userFeed {
  background-image: url("../../assets/background1-min.png");
  background-attachment: fixed;
  padding: 40px;
  height: 2000px;
  width: 100%;
  background-color: #0c100e;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  margin: 40px auto;
  width: 1160px;
  margin: 0 auto;
  height: auto;
  display: flex;
}

.leftAside {
  width: 30%;
  height: 500px;
}

.rightAside {
  width: 70%;
  height: 500px;
  flex-direction: column;
  margin-left: 10px;
}

.consoleContainer {
  display: flex;
  justify-content: center;
  width: 700px;
}

.postButton {
  font-family: "Share Tech", sans-serif;
  font-size: 20px;
  border: 1px solid #39ffe8;
  color: #39ffe8;
  padding: 2px;
  background-color: #0c100e;
  margin-top: 0px;
  width: 150px;
}

.noposts {
  color: white;
  font-family: "Share Tech", sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
}

.consoleLog {
  font-family: "Share Tech", sans-serif;
  color: #39ffe8;
  margin-right: 10px;
  /* text-align: center; */
  /* margin-right: 100px; */
}

.postContainer {
  width: 95%;
  height: auto;
  padding: 15px;
  margin: 20px auto;
  background: #202b37;
  border: 2px solid #39ffe8;
  display: flex;
}

.rightPost {
  width: 75%;
}

.date {
  font-family: "Share Tech", sans-serif;
  margin-bottom: 5px;
  color: white;
}

.postTitle {
  font-family: "Share Tech", sans-serif;
  margin-bottom: 5px;
  color: white;
  text-decoration: underline;
}

.postBody {
  font-family: "Share Tech", sans-serif;
  margin-bottom: 5px;
  color: white;
  width: 70%;
}

.leftPost {
  width: 25%;
  flex-basis: content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.likeBtnBackground {
  width: 20px;
  height: 20px;
  background-image: url("../../assets/heart-50.png");
  background-position: cover;
  background-color: transparent;
  background-size: cover;
}

.likeBtn {
  border: none;
  background-color: transparent;
  color: none;
  padding: 0px;
  margin-top: 0px;
  width: 20px;
}

.postedBy {
  margin-right: 10px;
}

.avatarContainer {
  width: 100%;
  display: flex;
  align-items: center;
}

.avatar {
  height: 100px;
  padding: 10px;
}

.viewProfile {
  color: white;
  text-decoration: underline;
  font-family: "Lekton", sans-serif;
  width: 135px;
  background-color: transparent;
}

.codeWarsContainer {
  width: 85%;
  margin-top: 20px;
  background: #202b37;
  border: 2px solid #39ffe8;
  height: 500px;
}

.codeWarsTitles {
  color: white;
  font-family: "Share Tech", sans-serif;
  margin: 10px;
  text-decoration: underline;
}

.codeWarsBody {
  color: white;
  font-family: "Share Tech", sans-serif;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  overflow-wrap: break-word;
}

.largerPost {
  width: 700px;
}

a {
  color: white;
  /* text-decoration: none; */
}
