@import url("https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&family=Share+Tech&display=swap");

.userFeed {
  background-image: url("../../assets/background1-min.png");
  padding: 40px;
  height: 100vh;
  width: 100%;
  background-color: #0c100e;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  margin: 40px auto;
  width: 1160px;
  margin: 0 auto;
  height: auto;
  display: flex;
}

.leftAside {
  width: 30%;
  height: 500px;
}

.rightAside {
  width: 70%;
  height: 500px;
  flex-direction: column;
  margin-left: 10px;
}

.scopeButtonContainer {
  display: flex;
  margin: 0 auto;
  width: 380px;
}

.localScopeBtn {
  margin-right: 16px;
  width: 170px;
  height: 40px;
  background: #202b37;
  color: white;
  border: 2px solid rgba(57, 255, 232, 0.8);
}

.globalScopeBtn {
  width: 170px;
  height: 40px;
  background: #202b37;
  color: white;
  border: 2px solid rgba(57, 255, 232, 0.8);
}

.divider {
  background-color: #7271f8;
  height: 56px;
  width: 3px;
  border-radius: 10px;
}

.postContainer {
  width: 95%;
  height: auto;
  padding: 15px;
  margin: 20px auto;
  background: #202b37;
  border: 2px solid #39ffe8;
  display: flex;
}

.rightPost {
  width: 75%;
}

.date {
  font-family: "Share Tech", sans-serif;
  margin-bottom: 5px;
  color: white;
}

.postTitle {
  font-family: "Share Tech", sans-serif;
  margin-bottom: 5px;
  color: white;
  text-decoration: underline;
}

.postBody {
  font-family: "Share Tech", sans-serif;
  margin-bottom: 5px;
  color: white;
  width: 70%;
}

.leftPost {
  width: 25%;
  flex-basis: content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.likeBtn {
  background-image: url("../../assets/heart-50.png");
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  right: 0;
  margin: 5px;
  /* background-color: none; */
}

.avatarContainer {
  width: 100%;
  display: flex;
  align-items: center;
}

.avatar {
  height: 100px;
  padding: 10px;
}

.viewProfile {
  color: white;
  text-decoration: underline;
  font-family: "Lekton", sans-serif;
  width: 135px;
  background-color: transparent;
}

.codeWarsContainer {
  width: 85%;
  margin-top: 20px;
  background: #202b37;
  border: 2px solid #39ffe8;
  height: 500px;
}

.codeWarsTitles {
  color: white;
  font-family: "Share Tech", sans-serif;
  margin: 10px;
  text-decoration: underline;
}

.codeWarsBody {
  color: white;
  font-family: "Share Tech", sans-serif;
  margin-bottom: 20px;
  margin-left: 15px;
}

.largerPost {
  width: 846px;
}